*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("bg.jpg");
}

.container{
    width: 80vw;
    border: 1px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

img{
    width: 250px;
    text-align: center;
}

p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: center;
}

.ball{
    width: 80px;
}
@media (max-width: 600x){
    p{
        text-indent: -9999px;
    }
}
@media (max-width: 1100px) {
    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10, #box11, #box12 {
        width: 1000px;
        height: 100px;
        text-align: left;
    }
    img{
        width:70px;
    }
    p{
        text-align: center;
    }
  }

.box{
    margin: 30px;
    width: 300px;
    height: 300px;
    border: 2px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#box1{
    background-color: burlywood;
}

#box2{
    background-color: yellow;
}

#box3{
    background-color: orange;
}

#box4{
    background-color: purple;
}

#box5{
    background-color: aquamarine;
}

#box6{
    background-color: yellow;
}

#box7{
    background-color: plum;
}

#box8{
    background-color: yellow;
}

#box9{
    background-color: aquamarine;
}

#box10{
    background-color: green;
}

#box11{
    background-color: burlywood;
}

#box12{
    background-color: pink;
}

#box1:hover, #box2:hover, #box3:hover, #box4:hover, #box5:hover, #box6:hover, #box7:hover, #box8:hover, #box9:hover, #box10:hover, #box11:hover, #box12:hover{
    background-image: url("bg2.jpg");
    background-size: cover;
}